/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 27/07/2023, 09:32:29 PM
    Author     : estra
*/
* {
    margin: 0;
    padding: 1;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}


header {
    margin-top: -10px;
}

header {
    display: flex;
    background-color: #ffffff;
    padding: 10px; 
    justify-content: space-between;
    align-items: center;
}
