/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 04/07/2023, 11:57:45 AM
    Author     : estra
*/
/* Estilos para el encabezado */
header {
    background-color: #000000;
    padding: 20px;
}

.logo {
    float: left;
    margin-right: 20px;
}

.logo img {
    height: 30px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

nav ul li {
    display: inline;
    margin-left: 140px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.search-box {
    text-align: right;
    margin-top: -23px;
}

.search-box input {
    padding: 5px;
    width: 200px;
}

.search-box button {
    padding: 5px 10px;
}

/* Estilos para la lista de productos */
.product-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    overflow: hidden;
}
.search-box input {
  padding: 5px;
  width: 200px;
  border-radius: 20px; /* Ajusta el valor según tus preferencias */
}

.search-box button {
  padding: 5px 10px;
  border-radius: 20px; /* Ajusta el valor según tus preferencias */
}

.arrow-button {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    border-radius: 50%;
    cursor: pointer;
}